<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448323585051-p2reo8s72ah8s3b6kvbp5retoo6oml0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448323585051-p2reo8s72ah8s3b6kvbp5retoo6oml0u</string>
	<key>API_KEY</key>
	<string>AIzaSyA8wSH5HY2sSH7NiWiXsf85YTnsHEtssl8</string>
	<key>GCM_SENDER_ID</key>
	<string>448323585051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmeist3r.uberClone</string>
	<key>PROJECT_ID</key>
	<string>iosprojects-8ee77</string>
	<key>STORAGE_BUCKET</key>
	<string>iosprojects-8ee77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448323585051:ios:48df3a36bdc5c8bf8e64be</string>
	<key>DATABASE_URL</key>
	<string>https://iosprojects-8ee77.firebaseio.com</string>
</dict>
</plist>